.mi-b {
  background-color: bisque;
}

h1.title {
  background-color: rgba(44, 87, 28, 0);
  text-align: center;
  font-weight: 700;
  font-family: cursive;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 10px;
}

.sub-title {
  padding-left: 30px;
  font-family: cursive;
  color: darkolivegreen;
  font-size: larger;
}

header {
  background-color: bisque;
}

.tu-lugar {
  background-image: url(../asests/fondo-nueva.jpg);
  background-size: contain;
  background-position: center;
}

h5.sub-title {
  justify-content: center;
  padding-right: 100px;
  padding-top: 20px;
}

.logo-m {
  height: 120px;
  padding-left: 30px;
}

.fondo {
  background-image: url(../asests/back1.jpg);
}

.navbar-btn {
  border-color: black;
}

.nav-item {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}
.nav-item a:hover {
  color: blueviolet;
}

.navbar {
  padding-left: 50px;
  width: 50px;
  border-color: black;
}

nav ul li {
  display: inline-block;
  justify-content: left;
  padding-right: 50px;
  padding-left: 50px;
  font-size: medium;
  list-style: none;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: larger;
}

.nav-link {
  font-size: larger;
  font-weight: 600;
  color: black;
}

.principal {
  position: sticky;
}

.parrafo {
  background-color: antiquewhite;
  padding-left: 10px;
  padding-bottom: 20px;
}

.navbar {
  justify-content: center;
}

.cont-img {
  width: 500px;
}

/*nav-faciales*/
.face {
  display: flex;
  justify-content: end;
}

.inst {
  display: flex;
  justify-content: end;
}

.insta {
  padding-right: 20px;
}

/*nav-corporales*/
.corporales {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.reaf {
  width: 300px;
  padding-left: 100px;
}

.reductores {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.red {
  width: 300px;
  padding-left: 100px;
}

.pres {
  display: flex;
  justify-content: center;
  font-size: larger;
  padding-left: 0%;
  padding-right: 0%;
}

.preso {
  width: 270px;
  padding-left: 80px;
}

.card-m {
  margin-left: 50px;
}

/*nav-servicios*/
.mi-b {
  background-color: bisque;
}

.spa {
  margin-bottom: 20px;
  font-size: medium;
}

.bien {
  margin-bottom: 20px;
  font-size: medium;
}

.momento {
  margin-bottom: 20px;
  font-size: medium;
}

h4.encabezado1 {
  margin-left: 50px;
  margin-top: 30px;
}

.tipos-trat {
  font-size: medium;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-right: 50px;
}

.dom {
  font-size: larger;
}

h3 {
  padding-right: 400px;
}

/* contacto*/
.consulta {
  padding-left: 50px;
}

.escribe {
  position: relative;
  top: 80px;
  left: 200px;
}

.contacto {
  background-color: bisque;
}

section {
  padding-left: 80px;
  background-color: blanchedalmond;
}

section h2 {
  padding-left: 300px;
}

.espacio1 {
  text-align: left;
  font-size: large;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 180px;
}

.estilo {
  text-decoration: none;
}

.espacio {
  color: darkslategrey;
  font-family: cursive;
  padding-top: 30px;
}

p {
  color: black;
  text-align: left;
}

.parrafo {
  background-color: blanchedalmond;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: cursive;
  font-size: medium;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
}

.descont {
  padding-left: 50px;
  padding-top: 30px;
}

.facial {
  padding-left: 50px;
  padding-top: 30px;
}

.piedras {
  padding-left: 50px;
  padding-top: 30px;
}

.relajantes {
  padding-left: 50px;
  padding-top: 30px;
}

.parrafo1 {
  padding-left: 50px;
  padding-top: 20px;
}

.parrafo2 {
  padding-left: 50px;
  padding-top: 20px;
}

.parrafo3 {
  padding-left: 50px;
  padding-top: 20px;
}

.parrafo4 {
  padding-left: 50px;
  padding-top: 20px;
}

footer iframe {
  width: 20%;
  height: 20%;
  padding-left: 50px;
}

h3 {
  text-align: center;
  font-family: cursive;
}

a {
  text-align: center;
}

p {
  padding-left: 50px;
}

.redes {
  display: flex;
  justify-content: center;
}

.facebook-m {
  margin: 10px;
}

.instagram-m {
  margin: 10px;
}

.whatsapp-m {
  margin: 10px;
}

/* mobile*/
@media only screen and (min-width: 300px) and (max-width: 500px) {
  body {
    background-color: aliceblue;
  }
}
/* tablet */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    background-color: rgb(190, 221, 187);
  }
}
/* desktop */
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  body {
    background-color: honeydew;
    padding-right: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
