header {
    
    background-color: beige;
    background-image: url(../asests/spa-aroma.avif);
    background-position: center;
    background-size: cover ; min-width: auto;}


.logo{ width: 120px;height: 120px; }




