 h3{ text-align: center;
       font-family: cursive;
      margin: auto;font-size: large;}

         a  { text-align: center; }

            p { padding-left: 20px;font-family: cursive;}
            .la-p{display: flex;flex-wrap: wrap ;margin-left:  50px;}



.redes{display: flex;justify-content: space-evenly;}
.mi-facebook{color: cyan;}
.mi-watsapp{color: greenyellow}
.mi-instagram{color:orange;}
.footer{ background-color: beige;}