footer iframe { width: 20%; height: 20%; 
   padding-left: 50px;}
    h3 { text-align: center;
       font-family: cursive;}

         a  { text-align: center; }

            p { padding-left: 30px;}


.redes{ @include inline;  
   margin-right: 10px;
   padding-left: 50px;
 }
.mi-facebook{margin: 10px;} 
 
.mi-instagram{margin: 10px;}
.mi-whatsapp{margin: 10px;}