
.navbar-btn{ 
    border-color: black ;
}
.nav-item{list-style: none;
           font-family: 'Courier New', Courier, monospace ;
           font-style: italic;
             a{
               &:hover{
                color: rgba(93, 14, 161, 0.904);
        }
    }
}
.navbar{padding-left: 50px;width: 50px; border-color: black;}


                                       
nav {
    ul{
            
        li{  display: inline-block; 
                justify-content: left; 
                padding-right: 50px;
                padding-left: 50px;
                font-size: medium;            
                list-style:none;


                 a{color: #000000;
                 text-decoration: none; 
                font-size: larger;
              
                 }
            }
              
        }          

    }      
                


   
.nav-link{ 
        font-size: larger; 
        font-weight: 600;
        color: black;
    }

.principal
 { position: sticky }

.parrafo 
{background-color: beige;
    padding-left: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}


.navbar{ justify-content: center;}


.cont-img { width: 500px;}
/*nav-faciales*/

 
.logo-m{width: 150px;height: 150px;}
h4{padding-top: 30px;}

/*nav-corporales*/




.corporales{ display: flex;
            justify-content: center   ;
            font-size: larger;}
.reaf{ width: 300px; padding-left: 100px;}
.reductores{ display: flex;justify-content: center;
             font-size: larger;}
             .red{ width: 300px; padding-left: 100px;}
 .pres{ display: flex;
        justify-content: center;
        font-size: larger;
    padding-left: 0% ;padding-right: 0%;} 
        .preso{ width: 270px; padding-left: 80px;}  
  .card-m{margin-left: 50px;}   
  .btn-m{color: blueviolet;}   
 
        /*nav-servicios*/ 



.spa{ margin-bottom: 20px;font-size: medium; }
.bien{ margin-bottom: 20px;font-size: medium; }
.momento{ margin-bottom: 20px;font-size: medium; } 
h4.encabezado1{margin-left: 50px; margin-top: 50px;background-color: bisque;}     
.tipos-trat{    
font-size: medium;
@include sizes(50px, 50px);
margin-bottom: 50px;
margin-right: 50px; }  
.dom{font-size: larger; margin: auto;}  
h3{margin-left: 150px;} 
.vis{padding-top: 30px;}


/* contacto*/

.tu-l{padding-top: 30px;padding-left: 30px;}

 .container{display: flex;flex-direction: column;}   
    
    
    


