section{ padding-left: 80px;


    background-color: blanchedalmond;}
   
    

section h2 { padding-left: 300px;  }
.espacio1{ text-align: left;
    font-size: large;
    padding-bottom: 50px;
           padding-top: 50px;
           padding-right:  180px;}

.estilo{ text-decoration: none;}

.espacio{
     color: darkslategrey;
     font-family: cursive;padding-top: 30px;
     }
     
p{color: black;
    text-align: left;}
.parrafo{
    background-color: blanchedalmond;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: cursive;
    font-size: medium;
    display: grid; 
    grid-template-rows: auto auto auto auto; 
    grid-template-columns: auto ;}
   
   
.descont { padding-left: 50px;
          padding-top: 30px;} 
.facial { padding-left: 50px;
        padding-top: 30px;}    
.piedras {padding-left: 50px;
      padding-top: 30px;}
 .relajantes {padding-left: 50px;
        padding-top: 30px;}
.parrafo1{padding-left: 50px;padding-top: 20px;}
.parrafo2{padding-left: 50px; padding-top: 20px}
.parrafo3{padding-left: 50px;padding-top: 20px }
.parrafo4{padding-left: 50px; padding-top: 20px}

