.contenido{width: 100%;}

section{ margin-left: 100px;


    background-color: bisque;}
   
    


.espacio1{ text-align: left;
    font-size: large;
    font-family: cursive;
    padding-bottom: 50px;
           padding-top: 50px;
           padding-right:  180px;}

.estilo{ text-decoration: none;}

.espacio{
     color: darkslategrey;
     font-family: cursive;padding-top: 30px;
     background-color: beige;}
   
     
p{color: black;
    text-align: justify;}
.presentacion{background-color: bisque;
    font-family: cursive;
    font-size: medium;}   
.descont { padding-left:100px;
        padding-top: 50px;} 
.facial { padding-left: 180px;
      padding-top: 100px;}    
.piedras {padding-left: 30%;
    padding-top: 100px;}

.relajantes {padding-left: 10%;
      padding-top: 50px;padding-bottom: 20px;} 
   

.parrafo1 {padding-top: 20px;margin-left: 30px;font-family: cursive;}
    
.parrafo2 {padding-top: 20px;margin-left: 30px;font-family: cursive;}

.parrafo3{padding-top: 20px;   margin-left: 30px; font-family: cursive;}
.parrafo4{padding-top: 20px;margin-left: 30px; font-family: cursive;}
.btn-r{padding-left: 150px;}

