//colores
$color-primario: antiquewhite;
$color-btn: bisque;
$color-btn-h:  darkslategrey; 
$background-principal: bisque;

//tipografia
$font-nav:'Courier New', Courier, monospace;
//tamaños tipografia
$sub-tit: larger;
$font-family: "cursive";
$margenes:( 
    pl:50px
    pt:50px
)
